<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>ประวัติการทำงาน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf=this.loadDone>
    <div *ngIf="userInfo == null">
      กรุณาเข้าสู่ระบบ
    </div>

    <div *ngIf="this.historyList">
    <ion-card *ngFor="let history of this.historyList; let i = index">
      <ion-card-content>
        <ion-item button="true" (click)="hide(i)">
            <ion-label>รายการสั่งชื้อที่ {{history.id}}</ion-label>
            <ion-text color="medium">
                <h5>{{history.order_date}}</h5>
            </ion-text>
            <ion-icon *ngIf="history.hidden" name="arrow-dropdown" slot="end"></ion-icon>
            <ion-icon *ngIf="!history.hidden" name="arrow-dropup" slot="end"></ion-icon>
        </ion-item>
      </ion-card-content>

      <div *ngIf="!history.hidden">
      <ion-grid fixed no-padding >
        <ion-row>
          <ion-col size="12" padding>
            <ion-list margin-bottom>
              <ion-list-header color="light">
                <ion-label class="fw700">ข้อมูลออเดอร์</ion-label>
              </ion-list-header>
              <ion-item>
                  <ion-label color="dark" position="stacked">ร้าน:</ion-label>
                  <ion-col>{{history.restaurant.name}}</ion-col>
              </ion-item>
              <ion-item>
                  <ion-label color="dark" position="stacked">ที่ตั้งร้าน:</ion-label>
                  <ion-col>{{history.restaurant.address}}</ion-col>
              </ion-item>
              <ion-item>
                <ion-label color="dark" position="stacked">สั่งเมื่อ:</ion-label>
                <ion-col>{{history.created_at}}</ion-col>
              </ion-item>
              <ion-item>
                <ion-label color="dark" position="stacked">ส่งเมื่อ:</ion-label>
                <ion-col *ngIf="history.shipped_time != null">{{history.shipped_time}}</ion-col>
                <ion-col *ngIf="history.shipped_time == null">รอการจัดส่ง</ion-col>
              </ion-item>
              <ion-item>
                <ion-label color="dark" position="stacked">เวลาที่รอ:</ion-label>
                <ion-col *ngIf="history.total_time != null">{{history.total_time}} นาที</ion-col>
                <ion-col *ngIf="history.total_time == null">รอการคำนวณ</ion-col>
              </ion-item>
              <ion-item>
                <ion-label color="dark" position="stacked">ผู้สั่งซื้อ:</ion-label>
                <ion-col *ngIf="history.driver != null">{{history.customer.name}}</ion-col>
                <ion-col *ngIf="history.driver == null">รอการตอบรับ</ion-col>
              </ion-item>
              
              <ion-item lines="none">
                <ion-label color="dark" position="stacked">รายการอาหาร:</ion-label>
              </ion-item>
              <ion-item *ngFor="let menu of history.orderdetails" lines="none">
                <ion-col>{{menu.quantity}}x{{menu.menu.name}}</ion-col>
                <ion-text color="medium">
                  <h5>{{ menu.menu.price }} บาท</h5>
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-label color="dark" position="stacked">ระยะทางทั้งหมด:</ion-label>
                <ion-col *ngIf="history.total_length != null">{{history.total_length}}</ion-col>
                <ion-col *ngIf="history.total_length == null">รอการคำนวณ</ion-col>
              </ion-item>
              <ion-item>
                  <ion-label color="dark" position="stacked">ค่าธรรมเนียมการหักเครดิต:</ion-label>
                  <ion-col *ngIf="history.percent_price != null">{{history.percent_price}} เครดิต</ion-col>
              </ion-item>
              <ion-item>
                  <ion-label color="dark" position="stacked">ค่าส่งอาหาร:</ion-label>
                  <ion-col *ngIf="history.total_price != null">{{history.total_price-history.food_price}} บาท</ion-col>
                  <ion-col *ngIf="history.total_price == null">รอการคำนวณ</ion-col>
              </ion-item>
              <ion-item>
                <ion-label color="dark" position="stacked">ราคารวมค่าส่งอาหาร:</ion-label>
                <ion-col *ngIf="history.total_price != null">{{history.total_price}} บาท</ion-col>
                <ion-col *ngIf="history.total_price == null">รอการคำนวณ</ion-col>
              </ion-item>
              <ion-item>
                <ion-label color="dark" position="stacked">สถานะการส่ง:</ion-label>
                <ion-col *ngIf="history.status == 'ordering'">กำลังค้นหาคนขับ</ion-col>
                <ion-col *ngIf="history.status == 'assigned'">คนขับกำลังเดินทางไปที่ร้าน</ion-col>
                <ion-col *ngIf="history.status == 'waiting'">รอการนำส่ง</ion-col>
                <ion-col *ngIf="history.status == 'shipped'">ส่งแล้ว</ion-col>
                <ion-col *ngIf="history.status == 'finish'">เสร็จสิ้น</ion-col>
                <ion-col *ngIf="history.status == 'cancel'">ยกเลิก</ion-col>
              </ion-item>
              
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
    </ion-card>
    </div>
    
</ion-content>
