<ion-header>
    <ion-toolbar color="success">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>เปลี่ยนรหัสผ่าน</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding class="animated fadeIn login auth-page">
    <div class="theme-bg"></div>
    <div class="auth-content">
        <!-- Logo -->
        <div padding-horizontal text-center class="animated fadeInDown">
            <div class="logo"></div>
            <h4 no-margin>
              <ion-text color="dark" class="fw700">
                  เปลี่ยนรหัสผ่าน
              </ion-text>
            </h4>
        </div>

        <!-- Login form -->
        <form [formGroup]="onChangeForm" class="list-form">
            <ion-item no-padding class="animated fadeInUp">
              <ion-label position="floating">
                <ion-icon name="key" item-start></ion-icon>
                ปัจจุบัน
              </ion-label>
              <ion-input  type="password" formControlName="oldpassword"></ion-input>
            </ion-item>
            <p ion-text class="text08" *ngIf="onChangeForm.get('oldpassword').touched && onChangeForm.get('oldpassword').hasError('required')">
              <ion-text color="red">
                  กรุณากรอกรหัสผ่านปัจจุบันของคุณ
              </ion-text>
            </p>
  
            <ion-item no-padding class="animated fadeInUp">
              <ion-label position="floating">
                <ion-icon name="lock" item-start></ion-icon>
                รหัสผ่านใหม่
              </ion-label>
              <ion-input  type="password" formControlName="password"></ion-input>
            </ion-item>
            <p ion-text class="text08" *ngIf="onChangeForm.get('password').touched && onChangeForm.get('password').hasError('required')">
              <ion-text color="red">
                กรุณากรอกรหัสผ่านใหม่
              </ion-text>
            </p>
            <ion-item no-padding class="animated fadeInUp">
                <ion-label position="floating">
                  <ion-icon name="lock" item-start></ion-icon>
                  กรอกรหัสผ่านใหม่อีกครั้ง
                </ion-label>
                <ion-input type="password" formControlName="repassword"></ion-input>
              </ion-item>
              <p ion-text class="text08" *ngIf="(onChangeForm.get('password') != onChangeForm.get('repassword')) && !onChangeForm.get('password').hasError('required')">
                  <ion-text color="red">
                    กรุณากรอกรหัสผ่านให้ตรงกัน
                  </ion-text>
              </p>
              <p ion-text class="text08" *ngIf="onChangeForm.get('repassword').touched && onChangeForm.get('repassword').hasError('required')">
                <ion-text color="red">
                  กรุณากรอกรหัสผ่านอีกครั้ง
                </ion-text>
              </p>
          </form>
        <div>
          <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="changePass()" [disabled]="!onChangeForm.valid" tappable>
              <ion-icon name="log-in"></ion-icon>
              เปลี่ยนรหัสผ่าน
          </ion-button>
        </div>
    </div>
  </ion-content>
