<ion-header>
  <ion-toolbar color="medium">
    <ion-title>เครดิตของฉัน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
    <ion-card >
      <ion-list>
        <ion-item-sliding>
          <ion-item color="medium">
              <ion-icon name="person" item-left></ion-icon>
              {{ userInfo.user.name }}
          </ion-item>
        </ion-item-sliding>
        <ion-item *ngIf="!allowAccept">
          <div >
            <p style="margin-top:0px;color:#000000;font-size:13px;">
              ติดต่อผู้ดูแลระบบของคุณหากต้องการ
              <strong>
                เติม
              </strong>
              เครดิตของคุณ.
            </p>
          </div>
        </ion-item>
        <ion-item *ngIf="allowAccept" color="assertive" >
          <ion-icon name="card" slot="start"></ion-icon>
          <ion-label>เลขเครดิต</ion-label>
          <ion-note color="primary" slot="end">{{ userCreditNum }}</ion-note>
        </ion-item>
        <ion-item *ngIf="allowAccept" color="assertive" >
          <ion-icon name="card" slot="start"></ion-icon>
          <ion-label>เครดิตคงเหลือ</ion-label>
          <ion-note color="success" slot="end">{{ userCredit }}</ion-note>
        </ion-item>
        <ion-item *ngIf="!allowAccept" color="assertive" >
          <ion-icon name="card" slot="start"></ion-icon>
          เครดิตคงเหลือ
          <ion-note slot="end">คุณยังไม่มีเครดิต</ion-note>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card *ngIf="allowAccept">
        <ion-list>
          <ion-item-sliding>
            <ion-item color="success">
              เติมเครดิต
              <ion-button slot="end" fill="clear" color="medium" *ngIf="this.currentImage == null || this.credittopup == null" >
                  <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
              </ion-button>
              <ion-button slot="end" fill="clear" (click)="uploadPhoto()" *ngIf="this.currentImage != null && this.credittopup > 0">
                  <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-item-sliding> 
          <ion-item>
            <ion-label color="dark" position="stacked">จำนวนเครดิตที่เติม:</ion-label>
            <ion-input inputmode="numeric" placeholder="กรุณากรอกเครดิตที่ต้องการเติม" [(ngModel)]="this.credittopup"></ion-input>
          </ion-item>
          <ion-item lines="none">
              <ion-label color="dark" position="stacked">อัพโหลดรูปภาพ:</ion-label>
              <ion-button icon-left color="secondary" *ngIf="this.currentImage == null" (click)="addimage()" >
                <ion-icon name="photos"></ion-icon> 
                เลือกรูปภาพ
              </ion-button>
          </ion-item>
          <ion-item lines="none" *ngIf="this.currentImage != null">
            <ion-thumbnail slot="start">
              <ion-img [src]="this.currentImage"></ion-img>
            </ion-thumbnail>
          </ion-item>
          
        </ion-list>
      </ion-card>
      <ion-card *ngIf="allowAccept">
        <ion-list>
          <ion-item-sliding>
            <ion-item color="medium">
              ประวัติการเติมเครดิต
            </ion-item>
          </ion-item-sliding> 
          <div *ngFor="let item of this.toppuphist" text-wrap>
            <ion-item lines="none">
                <ion-label color="dark" position="stacked">สถานะการเติม:</ion-label>
                <ion-col>{{item.action}}</ion-col>
            </ion-item>
            <ion-item lines="none">
              <ion-label color="dark" position="stacked">วันที่:</ion-label>
              <ion-col>
                  {{item.date_of_detail.slice(8, -9)}}/{{item.date_of_detail.slice(5, -12)}}/{{item.date_of_detail.slice(0, -15)}}  {{item.date_of_detail.slice(11, -3)}}
              </ion-col>
            </ion-item>
            <ion-item >
                <ion-label color="dark" position="stacked">จำนวนเครดิตที่เติม:</ion-label>
                <ion-col>{{item.value}}</ion-col>
            </ion-item>
          </div>
        </ion-list> 
    </ion-card>
  </ion-content>
  