<ion-content padding #popoverContent >
  <div #popoverText >
    <div>
      <ion-row text-left>
        <h1>{{ product.name }}</h1>
      </ion-row>
      <ion-row text-center>ราคา {{ product.price }} บาท</ion-row>
    </div>
    <div padding-top padding-bottom>
      <ion-row text-center>
        <div padding>
          <ion-icon name="remove" (click)="removeProduct()"></ion-icon>
        </div>
        <div class="qty" padding>
          {{ quantity }}
        </div>
        <div padding>
          <ion-icon name="add" (click)="addProduct()"></ion-icon>
        </div>
      </ion-row>
    </div>

    <div>
      <ion-button expand="block" shape="round" color="secondary" (click)="addToCart()">หยิบลงตะกร้า</ion-button>
    </div>

    <div>{{ noProduct }}</div>

  </div>
</ion-content>