<ion-list no-padding no-margin>
    <ion-list-header color="dark">
      <ion-label class="fw700">ตัวเลือกการนำเข้า</ion-label>
    </ion-list-header>

    <ion-item button=true color="light" class="text-10" (click)="openCamera()">
      <ion-icon name="camera" color="medium"></ion-icon>
      <ion-label>ถ่ายภาพ</ion-label>
    </ion-item>

    <ion-item  button=true color="light" class="text-10" (click)="openGallery()">
      <ion-icon name="images" color="medium"></ion-icon>
      <ion-label>เลือกจากอัลบั้ม</ion-label>
    </ion-item>

    <ion-button shape="round" color="danger" expand="full " (click)="exit()">ยกเลิก</ion-button>

</ion-list>
