<ion-header *ngIf="userInfo == null">
    <ion-toolbar class="user-profile">

      <ion-item margin-bottom>
        <ion-avatar slot="start" class="user-avatar">
            <img src="/assets/imgs/nonloginavatar.png">
        </ion-avatar>
        <ion-label>
          <ion-text color="light">
            <h1><strong>กรุณาเข้าสู่ระบบ</strong></h1>
          </ion-text>
          <ion-text color="light">
            <h4>
             ลงชื่อเข้าใช้ เพื่อใช้บริการส่งอาหาร
            </h4>
          </ion-text>
          <ion-menu-toggle class="mto" auto-hide="false">
            <a class="text08" tappable (click)="login()">
              <ion-text color="light">
                <ion-icon size="small" name="log-in"></ion-icon>
                <strong>เข้าสู่ระบบ</strong>
              </ion-text>
            </a> <ion-text color="primary"> | </ion-text> 
            <a class="text08" tappable (click)="register()">
              <ion-text color="light">
                <ion-icon size="small" name="contact"></ion-icon>
                <strong>สมัครสมาชิกใหม่</strong>
            </ion-text>
            </a>
          </ion-menu-toggle>
        </ion-label>
      </ion-item>
      <ion-buttons slot="end">
          <ion-button size="small" shape="round" color="medium" (click)="notifications()">
            <ion-icon name="cart"></ion-icon>
            <ion-badge slot="end" *ngIf="cartLength > 0">{{ cartLength }}</ion-badge>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="userInfo != null">
    <ion-toolbar class="user-profile">

      <ion-item margin-bottom>
        <ion-avatar slot="start" class="user-avatar">
          <img src="http://158.108.207.4/delivery/public/images/profiles/{{userInfo.user.image}}">
        </ion-avatar>
        <ion-label>
          <ion-text color="light">
            <p id="firstText">{{ userInfo.user.name }}<span>  {{this.userType}}</span></p>
          </ion-text>
          <ion-text color="danger">
              <h3>
                {{userInfo.user.email}}
              </h3>
          </ion-text>
          <ion-menu-toggle class="mto" auto-hide="false">
            <ion-button icon-left size="small" shape="round" color="dark" (click)="editProfile()">
                <ion-icon name="contact"></ion-icon>
                เปลี่ยนรูปโปรไฟล์
              </ion-button>
          </ion-menu-toggle>
        </ion-label>
      </ion-item>
      <ion-buttons slot="end">
          <ion-button size="small" shape="round" color="medium" (click)="notifications()">
            <ion-icon name="cart"></ion-icon>
            <ion-badge slot="end" *ngIf="cartLength > 0">{{ cartLength }}</ion-badge>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment *ngIf="this.userType == 'customer'" >
      <ion-segment-button>
        <ion-icon name="timer"></ion-icon>
        <ion-label>ที่รอการตอบรับ</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-icon name="gift"></ion-icon>
        <ion-label>ที่ต้องได้รับ</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-icon name="star-outline"></ion-icon>
        <ion-label>ให้คะแนน</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-segment *ngIf="this.userType == 'driver'" >
      <ion-segment-button fixed>
        <ion-icon src="assets/icon/sendbox.svg"></ion-icon>
        <ion-label>ที่ต้องจัดส่ง</ion-label>
      </ion-segment-button>
      <ion-segment-button fixed>
        <ion-icon name="locate"></ion-icon>
        <ion-label>อัพเดตตำแหน่ง</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div no-padding text-center *ngIf="userInfo == null">
    <ion-icon large src="assets/icon/find.svg"></ion-icon>
    <h5>ไม่พบข้อมูลผู้ใช้</h5>
  </div>
  <div no-padding *ngIf="userInfo != null">
    <ion-grid fixed no-padding>
      <ion-row>
      <ion-col size="12" padding>
      <ion-list margin-bottom>
        <ion-list-header color="light">
            <ion-text color="dark">
                <h5><strong>ข้อมูลผู้ใช้</strong></h5>
            </ion-text>
        </ion-list-header>
        <ion-item>
            <ion-label color="dark" position="stacked">ชื่อ-นามสกุล:</ion-label>
            <ion-col>ข้อมูลของฉัน</ion-col>
        </ion-item>
        <ion-item>
            <ion-label color="dark" position="stacked">ที่อยู่:</ion-label>
            <ion-col>ที่อยู่ของฉัน</ion-col>
        </ion-item>
      </ion-list>

      <ion-list margin-bottom>
          <ion-item>
              <ion-label tappable color="dark" (click)="setting()">ตั้งค่าบัญชีผู้ใช้</ion-label>
          </ion-item>
          <ion-item>
              <ion-label tappable color="dark" (click)="helpcenter()">ศูนย์ช่วยเหลือ</ion-label>
          </ion-item>
      </ion-list>
      <ion-button color="danger" (click)="logout()">
        ออกจากระบบ
      </ion-button>
    </ion-col>
    </ion-row>
    </ion-grid>

  </div>






</ion-content>