<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>รถเข็นสินค้า</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content>
    <ion-list *ngIf="this.items.length > 0">
      <ion-item *ngFor="let item of selectedItems" lines="inset">
        {{ item.food_name }} <br> ราคา {{ item.food_price }}บาท/ชิ้น
        <ion-col>
            <ion-icon name="add" (click)="increaseItem(item)" padding-left></ion-icon>
            {{ item.food_qty }}
            <ion-icon name="remove" (click)="decreaseItem(item)" padding-right></ion-icon>
        </ion-col>
        <ion-label slot="end" text-right>{{ (item.food_price * item.food_qty) }} บาท</ion-label>
        <ion-col>
            <ion-icon name="trash" (click)="presentAlertConfirm(item)"></ion-icon>
        </ion-col>
      </ion-item>
      <ion-item>
        รวม*: <span slot="end">{{ totalPrice }} บาท</span>
      </ion-item>
      <ion-item>
        หมายเหตุ *ราคายังไม่ได้รวมค่าจัดส่ง 
      </ion-item>
    </ion-list>

    <div *ngIf="this.items.length <= 0" text-center>
        <ion-icon large src="assets/icon/emptybasket.svg"></ion-icon>
        <h5>ไม่มีสินค้าในรถเข็น</h5>
    </div>
  </ion-content>

  <ion-footer *ngIf="this.items.length > 0">
      <ion-toolbar>
        <ion-button expand="full" color="secondary" (click)="sendOrder()">
          <p>สั่งซิ้อ</p>
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-toolbar>
  </ion-footer>
  
  <!-- <ion-content>
      <ion-list *ngIf="this.items.length > 0">
        <ion-list-header *ngFor="let item of basket">
          <h1>{{ item.restaurant_name }}</h1>
          <ion-list-header *ngFor="let product of item.products" class="description">
            <ion-row>
              <h2>{{ product.food_name }}</h2>
            </ion-row>
            <ion-row>
              <ion-col>
                ราคา {{ product.food_price }} baht
              </ion-col>
              <ion-col>
                <ion-icon name="remove" (click)="removeProduct(product)" padding-right></ion-icon>
                {{ product.food_qty }}
                <ion-icon name="add" (click)="addProduct(product)" padding-left></ion-icon>
              </ion-col>
              <ion-col>
                <ion-icon name="trash" (click)="deleteProduct(product)"></ion-icon>
              </ion-col>
            </ion-row>
    
          </ion-list-header>
        </ion-list-header>
      </ion-list>
    
      <div *ngIf="checkNoItem" text-center>
        <h5>ไม่มีสินค้าในตะกร้า</h5>
      </div>
    
    </ion-content>
    
    <ion-footer *ngIf="!checkNoItem">
      <ion-toolbar>
        <p>ยอดรวม {{ totalCharge }} บาท</p>
        <ion-buttons end>
          <button ion-button icon-end color="royal" (click)="sentOrder()">
            <p>สั่งซิ้อ</p>
            <ion-icon name="send"></ion-icon>
          </button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer> -->
