<ion-header>

  <ion-toolbar>
    <ion-title>HistoryDetail</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>

    <ion-item>
      <ion-col></ion-col>
    </ion-item>
    <ion-item padding>
      <h4>คำสั่งซื้อหมายเลข {{ order_id }}</h4>
    </ion-item>
    <ion-item padding>
      <h2>ร้าน {{ order_info.restaurant_name }}</h2>
    </ion-item>
    <ion-item>
      <img src="http://158.108.207.4/delivery/public/images/restaurants/{{order_info.restaurant_image}}">
    </ion-item>
  
    <ion-item padding>
      <h4>รายการอาหารที่สั่งซื้อ</h4>
      <ion-item *ngFor="let order of order_info.menu">
        <ion-item>
          <ion-col col-1>
            {{ order.quantity }}x
          </ion-col>
          <ion-col col-9>
            {{ order.name }}
          </ion-col>
          <ion-col col-2 text-right>
            {{ order.price }}฿
          </ion-col>
        </ion-item>
      </ion-item>
    </ion-item>
  
  </ion-content>