<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>
      ร้านค้า
    </ion-title>
    <ion-buttons slot="end">
        <ion-button id="button" shape="round" color="medium" (click)="openCart()">
          <ion-icon name="cart"></ion-icon>
          <ion-badge id="notifications-badge"  slot="end" *ngIf="this.cartLength > 0">{{ this.cartLength }}</ion-badge>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content class="bg">
  <ion-item >
    <img src="http://158.108.207.4/delivery/public/images/restaurants/{{this.image}}">
  </ion-item>
  
  <ion-list>
    <ion-item-divider color="medium">
        <ion-label>
            {{ res_name }}
        </ion-label>
    </ion-item-divider>
    <ion-item button=true *ngFor="let product of products" (click)="selectFood(product)"> 
      <ion-label>{{ product.name }}</ion-label>
      <ion-text color="medium">
        <h5>{{ product.price }} บาท</h5>
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>
